body{
    background-color: #2e3436;
}
.img{
    height: 30%;
    width: 30%;
}
.img-side{
    height: 5%;
    width: 5%;
}
.img-dog{
    height: 5%;
    width: 5%;
}
.encap{
    position: relative;
}
.titre{
    font-size: 40px;
    color: #78F1FE!important;
}